color-square {
  background-color: var(--background-color, #FFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  height: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.tiny-square {
  display: block;
  width: 12px;
  height: 12px;

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  .blue {
    background-color: blue;
  }
}
